.grid-container {
  margin: 20px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.example-header-image {
  background-image: url('https://d2da0u06q4mna7.cloudfront.net/assets/home/value-proposition-first@2x-fc39cd9a09b727f9c57c159c68acb99fd2d21842fcd8c6b2aae0eb09392c76b0.png');
  background-size: cover;
}
