<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <a routerLink="/cdd">
      <img mat-card-image [src]="logoMenu" alt="Imagem do logo no menu" /></a>
    <mat-nav-list *ngFor="let itemMenu of itensMenu$ | async; index as i">
      <mat-list>
      </mat-list>
        <mat-list-item>
          <a class="a" mat-list-item *ngIf="itemMenu.hab === true" [href]="itemMenu.linkMenu">{{ itemMenu.labelMenu }}</a>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="{{toolbarColor}}">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Menu BookShelf Lateral">menu</mat-icon>
      </button>
      <img *ngIf="larguraInterna > 600" mat-card-sm-image [width]="lIcone" [height]="aIcone" [src]="iconeGeral" />

      <div id="barra" >
      <button (click)="changeColor()" class="muda-cor" >
        <span class="material-icons">format_color_fill</span>
      </button>

      <ng-container *ngIf="usuario$ | async as usuario; else botaoLogin">
        <button mat-raised-button color="accent" [matMenuTriggerFor]="usuarioMenu">
          <mat-icon class="mat-18">person_pin</mat-icon>
          {{ usuario.displayName }}
          <mat-icon>expand_more</mat-icon>
        </button>

      </ng-container>
    </div>
      <ng-template #botaoLogin>
        <button mat-raised-button color="primary" (click)="abrirLogin('Tela de Login')">
          <mat-icon class="mat-18">login</mat-icon>
          LOGIN
        </button>
      </ng-template>
    </mat-toolbar>

    <mat-menu #usuarioMenu="matMenu">
      <button mat-menu-item routerLink="#">Minhas Informações</button>
      <button mat-menu-item (click)="sairUsuario()">Logout</button>
    </mat-menu>
    <mat-drawer-container class="example-container" autosize>
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon> compare_arrows </mat-icon>
      </button>
    </div>
  </mat-drawer-container>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
