.boxUserProfile{
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.Boxuser{
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 height: 500px;
}
