div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
}
.not-found {
    color: #bd1b27;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 32px;
}



