mat-grid-list{
  button{
    margin: 10px;
  }
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
}
mat-form-field, mat-step{
  margin: 1%;
}

.next{
    display: block;
    margin: 0 -16px -16px -16px;
}
