<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{conteudo}}</mat-card-title>
      <mat-card-subtitle>Entre na estante</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/imagens/4.png" alt="Banner de Login">
    <mat-card-content>
      <form [formGroup]="formularioLogin" (ngSubmit)="loginFirebase()">
        <mat-form-field>
          <input matInput placeholder="Email de Login" formControlName="email">
          <mat-error *ngIf="email?.errors?.['required']">Será necessário informar um e-mail</mat-error>
          <mat-error *ngIf="email?.errors?.['email']">O formato do e-mail não é valido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Entre coma senha" formControlName="senha" type="password">
          <mat-error *ngIf="senha?.errors?.['required']">Esqueceu a senha</mat-error>
        </mat-form-field>
       <mat-card-footer> <!--campo recaptcha-->
        <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
       </mat-card-footer>
        <mat-card-footer>
          <button mat-raised-button mat-dialog-close color="accent" type="submit">Entrar</button>
          <button mat-raised-button mat-dialog-close color="primary">Fechar</button>

        </mat-card-footer>
      </form>
      <button mat-raised-button mat-dialog-close color="primary"  (click)="logincomGoogle()" class="btn-google">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M21.35,11.1H12.18V13.83H18.69C18.36,17.64 15.19,19.27 12.19,19.27C8.36,19.27 5,16.25 5,12C5,7.9 8.2,4.73 12.2,4.73C15.29,4.73 17.1,6.7 17.1,6.7L19,4.72C19,4.72 16.56,2 12.1,2C6.42,2 2.03,6.8 2.03,12C2.03,17.05 6.16,22 12.25,22C17.6,22 21.5,18.33 21.5,12.91C21.5,11.76 21.35,11.1 21.35,11.1V11.1Z" />
      </svg></button>
    </mat-card-content>
    <span>Você ainda <strong>não tem cadastro</strong> clique <a routerLink="/app-app-cadastro">aqui</a>
      e venha fazer parte desta comunidade de leitores</span>
  </mat-card>
</div>

